hostname {{ inventory_hostname }}
password {{ zebra_password }}
enable password {{ enable_zebra_password }}
!
interface eth0
 ipv6 nd suppress-ra
!
interface eth1
 description {{ desc_eth1 }}
 ip address {{ zebra_eth1_ip }}
 ipv6 nd suppress-ra
!
interface eth2
 description {{ desc_eth2 }}
 ip address {{ zebra_eth2_ip }}
 ipv6 nd suppress-ra
!
!
interface lo
!
ip forwarding
!
!
line vty
!