127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
{{ ipa_server_ip }}         {{ domain_name }}
{{ ipa_server_ip }}         {{ ipa_server }}.{{ domain_name }}
{{ ipa_client_ip }}         {{ ipa_client }}.{{ domain_name }}
